{% if title %}
    <h1>Successfully added "{{ title }}"</h1>
    {% else %}
    <h1>Add Content</h1>
{% endif %}


<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label_tag }}<br>
            {{ field }}<br>
            {{ field.help_text }}
        </p>
    {% endfor %}

    <p>
        <tr><th><label for="id_images">Images:</label></th><td><br>
            <input type="file" name="images" id="id_images" multiple class="'form-control-file"></td></tr><br>
    </p>
    <br>
    <input type="submit" value="Submit">
</form>